<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="display-4">Blog Posts</h1>
    <%= link_to 'New Post', new_post_path, class: 'btn btn-primary btn-lg' %>
  </div>

  <% if @posts.any? %>
    <% if params[:query].blank? %>
      <% cache(@posts, expires_in: 1.hour) do %>
        <%= render 'posts/grid', posts: @posts %>
      <% end %>
    <% else %>
      <%= render 'posts/grid', posts: @posts %>
    <% end %>
  <% else %>
    <div class="alert alert-info" role="alert">
      No posts available.
    </div>
  <% end %>
</div>
